<header class="navbar navbar-expand-lg navbar-dark primary-color fixed-top shadow py-0">
  <div class="container-fluid py-2">
    <a class="navbar-brand h3 border-end px-3 mb-0" href="/dashboard">
      WorkSmart</a>
    <div class="d-flex align-items-center flex-end h6 mb-0">
      <a class="btn nav-link px-3" href="/dashboard/account">Settings</a>
      <form action="/logout" method="POST">
        <button class="btn nav-link px-3">Logout</button>
      </form>
    </div>
  </div>
</header>
