<div class="navigation px-0">
  <ul>
    <li class="list">
      <b></b>
      <b></b>
      <div class="toggle title">
        <i class="fa-solid fa-bars" id="menu-outline" class="open"></i>
        <i class="fa-solid fa-xmark" id="close-outline" class="close"></i>
      </div>
    </li>
    <li class="list active">
      <b></b>
      <b></b>
      <a href="/dashboard">
        <span class="icon"><i class="fa-solid fa-house-chimney-user"></i></span>
        <span class="title">Dashboard</span>
      </a>
    </li>
    <li class="list">
      <b></b>
      <b></b>
      <a href="/dashboard/products">
        <span class="icon"><i class="fa-solid fa-boxes-stacked"></i></span>
        <span class="title">Inventory</span>
      </a>
    </li>
    <li class="list">
      <b></b>
      <b></b>
      <a href="/dashboard/customers">
        <span class="icon"><i class="fa-solid fa-users"></i></span>
        <span class="title">Customers</span>
      </a>
    </li>
    <li class="list">
      <b></b>
      <b></b>
      <a href="/dashboard/suppliers">
        <span class="icon"><i class="fa-solid fa-warehouse"></i></span>
        <span class="title">Suppliers</span>
      </a>
    </li>
  </ul>
</div>
