
/* Reset  */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/*********************************************** Utility Components  *************************************************/
:root {
  /* Colors */
  --color-primary: #284b63;
  --color-secondary: #38a3a5;
  --color-secondary-d: #3c6e71;
  --color-body: #ececec;
   /* #F0FFF0; */
  --color-input: #F5FFFA;
  --color-font: #353535;

  /* box shadow */
  --box-shadow: 3px 3px 10px 3px grey;
  --box-shadow-small: 1px 1px 5px 1px grey;
}

fieldset {
  background-color: var(--color-secondary);
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
}
body {
  color: var(--color-font);
  font-size: 0.9rem;
  min-height: 100vh;
  background: var(--color-body);
}

.primary-color {
  background-color: var(--color-primary);
  color: white;
}

.white {
  background-color: white;
}

.height {
  /*reusable class. be careful changing it */
  min-height: 90vh;
  max-height: auto;
}
/* --------------- DASHBOARD NAVBAR------------ */

.nav-item {
  margin: 0 1rem;
}

i {
  font-size: 1.2rem;
}

.nav-item button {
  border: none;
  width: 32px;
  height: 32px;
  background-color: transparent;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.nav-item button:hover{
  background-color: transparent;
  color: white;
}

/* --------------- DASHBOARD Results PAGE ------------ */

.img-container {
  width: 8rem;
  height: 8rem;
  margin: 0 0 1rem;
}
.date,
.hi-user {
  margin-top: 0.5rem;
   /* 3.3rem; */
}

.date {
  margin-right: 14.688rem;
}

.dashboard-main {
  background-color: var(--color-body);
  padding: 3rem 1rem 1rem 3rem;
}
.left {
  width: 25%;
}

.right {
  width: 73%;
  height: auto;
}

.stocks-box {
  text-align: center;
}

.box-item {
  background-color: #fcfcfc;
  box-shadow: var(--box-shadow-small);
  border-radius: 3px;
  margin-right: 1rem;
}

/* sidebar */

.navigation {
  position: fixed;
  top: 52px;
  left: 0;
  bottom: 52px;
  width: 150px;
  border-radius: 10px;
  box-sizing: initial;
  border-left: 5px solid var(--color-secondary);
  background: var(--color-secondary);
  transition: width 0.5s;
  overflow-x: hidden;
}
.navigation.active {
  width: 45px;
}
.navigation ul {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
  padding-left: 5px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation ul li.active {
  background: var(--color-body);
}
.navigation ul li b:nth-child(1) {
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  background: var(--color-body);
  display: none;
}
.navigation ul li b:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: var(--color-secondary);
}
.navigation ul li b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 100%;
  background: var(--color-body);
  display: none;
}
.navigation ul li b:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  background: var(--color-secondary);
}
.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
  display: block;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}
.navigation ul li.active a {
  color: #333;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 35px;
  /* height: 60px; */
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding-left: 1rem;
  /* margin-top: 20px; */
  line-height: 60px;
}
.toggle {
  /*position: fixed;*/
  top: 60px;
  left: 30px;
  width: 50px;
  height: 50px;
  background: transparent;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
}

#menu-outline, #close-outline {
  position: absolute;
  background-color: transparent;
  color: white;
  font-size: 34px;
}

#close-outline {
  display: none;
}

.toggle.active {
  background-color: transparent;
}

.toggle.active #menu-outline {
  color: #333;
}

.toggle i.open,
.toggle.active i.close {
  display: block;
}
.toggle i.close,
.toggle.active i.open {
  display: none;
}

/* --------------- PRODUCTS PAGE ---------------*/

.active {
  z-index: 100;
}

.hidden {
  display: none;
}

.reg-form {
  width: 60%;
  border-radius: 10px;
}

/* --------------- PURCHASES PAGE ---------------*/
.order-row {
max-width: 900px;
min-width: min-content;
margin: 0 auto;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
/*can be 33% 33% 33% but will have column gaps
grid-column-gaps: 40px;*/
text-align: center;
}

#showOrders {
  min-width: 150px;
}

.searchBar input {
  margin: 0;
  background-color: var(--color-input);
  font-size: 1rem;
  font-weight: lighter;
  border: none;
  width: 80%;
  padding: 0.5rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid var(--color-body);
}

.searchIcon {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 20%;
    background-color: var(--color-secondary);
    margin: 0;
    padding: 0.5rem 0.7rem;
    border: 1px solid var(--color-secondary);
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.addBtn {
  border: none;
  background-color: transparent;
}

.addBtn i {
  color: green;
}

select, input {
    margin-left: 0.5rem;
    background-color: var(--color-input);
    font-size: 1rem;
    font-weight: lighter;
    width: 80%;
    padding: 0.2rem;
    border-radius: 3px;
    border: 1px solid lightgrey;
  }

  .date-supplier button {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 20%;
      background-color: var(--color-body);
      margin: 0;
      padding: 0.2rem;
      border: 1px solid var(--color-body);
      font-size: 1rem;
      color: darkgrey;
      cursor: pointer;
}
