/* Reset  */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********************************************** Utility Components  *************************************************/
:root {
  /* Colors */
  --color-primary: #284b63;
  --color-secondary: #38a3a5;
  --color-secondary-d: #3c6e71;
  --color-body: #d9d9d9;
  --color-font: #353535;

  /* box shadow */
  --box-shadow: 3px 3px 10px 3px grey;
  --box-shadow-small: 1px 1px 5px 1px grey;
}

body {
  color: var(--color-font);
  font-size: 0.9rem;
  min-height: 100vh;
  background: #fff;
}

.background {
  background-color: var(--color-font);
  background-image: url(https://images.unsplash.com/photo-1486406146926-c627a92ad1ab);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-font);
  font-size: 0.9rem;
}

/* ------- Hompepage ---------------- */
.main {
  height: 90vh;

.header {
  padding: 10rem;
}

.Register {
  background-color: white;
  color: blue;
}
.padding {
  padding: 1rem 3rem;
}

.primary-color {
  background-color: var(--color-primary);
  color: white;
}
/* features */

#features {
  margin-top: 20rem;
  padding: 7% 15%;
}

.card-extra {
  background-color: #38a3a5;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 2rem;
  box-shadow: var(--box-shadow-small);
  margin: 0 0 2rem;
  width: 20rem;
  height: 20rem;
}

.card-icon {
  margin: 1rem 0;
  color: var(--color-primary);
}
.card-icon:hover {
  color: #0c0d0d;
}

.feature-box-p {
  padding: 5%;
}

.about-us {
  background-color: #38a3a5;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
/* ------------- LOGIN PAGE -------------- */

.height {
  /*reusable class. be careful changing it */
  min-height: 90vh;
  max-height: auto;
}

.login-inner {
  width: 35%;
  min-width: 300px;
  height: min-content;
  background-color: white;
  color: var(--color-font);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

/* --------------- FOOTER --------------------- */
.copyrights {
  text-align: center;
  color: #d9dcd6;
  padding-top: 1rem;
  margin-top: 7rem;
}

.footer-icon {
  margin: 0 1rem;
}
