<%- layout('layout/dashboard-template')%>
<!-- BREADCRUMBS -->
<div class="">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Sales</li>
  </ol>
</nav>
</div>

<!-- MAIN -->
<div class="white rounded p-3">
  <h1 class="mb-5">Sales</h1>

  <table class="table mb-5 border rounded">
    <thead class="table-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">Date</th>
        <th scope="col">Invoice Number</th>
        <th scope="col">Customer</th>
        <th scope="col">Ordered Items</th>
        <th scope="col">Items Price</th>
        <th scope="col">VAT</th>
        <th scope="col">Total Price</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <!-------- LIST OF PURCHASES ---------------->
    <tbody class="table-primary mb-5">
      <tr class="table-primary">
        <th scope="row">1</th>
        <td>Date</td>
        <td><a href="#">000000000</a></td>
        <td>Supplier</td>
        <td><i>Product 1, Product 2, Product 3...<i></td>
        <td><span>$</span>88</td>
        <td><span>$</span>5</td>
        <td><span>$</span>93</td>
        <td scope="row"><a class="btn btn-primary btn-sm"
          href="/dashboard/puchases/purchase._id/edit">
            Edit</a></td>
      </tr>

      <!-- sample row 2 -->
      <tr class="table-primary">
        <th scope="row">3</th>
        <td>Date</td>
        <td>000000000</td>
        <td>Supplier</td>
        <td><i>Product 1, Product 2, Product 3...<i></td>
        <td><span>$</span>88</td>
        <td><span>$</span>5</td>
        <td><span>$</span>93</td>
        <td scope="row"><a class="btn btn-primary btn-sm"
          href="/dashboard/puchases/purchase._id/edit">
            Edit</a></td>
      </tr>

      <!-- sample row 3 -->
      <tr class="table-primary">
        <th scope="row">3</th>
        <td>Date</td>
        <td>000000000</td>
        <td>Supplier</td>
        <td><i>Product 1, Product 2, Product 3...<i></td>
        <td><span>$</span>88</td>
        <td><span>$</span>5</td>
        <td><span>$</span>93</td>
        <td scope="row"><a class="btn btn-primary btn-sm"
          href="/dashboard/puchases/sale._id/edit">
            Edit</a></td>
      </tr>
        </tbody>
</table>

  <a class="btn btn-primary btn-sm"
  href="/dashboard/sales/new">Record New Sale</a>
</div>
