/* Reset  */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********************************************** Utility Components  *************************************************/
:root {
  /* Colors */
  --color-primary: #284b63;
  --color-secondary: #38a3a5;
  --color-secondary-d: #3c6e71;
  --color-body: #d9d9d9;
  --color-font: #353535;

  /* box shadow */
  --box-shadow: 3px 3px 10px 3px grey;
  --box-shadow-small: 1px 1px 5px 1px grey;
}

body {
  color: var(--color-font);
  font-size: 0.9rem;
}

.background {
  background-color: var(--color-body);
  background-image: url(https://images.unsplash.com/photo-1486406146926-c627a92ad1ab);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-font);
  font-size: 0.9rem;
}
/* BEAUTIFY THE main page NAV */

.nav-item {
  margin: 0 1rem;
}

i {
  font-size: 1.2rem;
}

/* ------- Hompepage ---------------- */

.padding {
  padding: 1rem 3rem;
}

.primary-color {
  background-color: var(--color-primary);
  color: white;
}
/* features */

#features {
  margin-top: 20rem;
  padding: 7% 15%;
}

.card-extra {
  background-color: #38a3a5;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 2rem;
  box-shadow: var(--box-shadow-small);
  margin: 0 0 2rem;
  width: 20rem;
  height: 20rem;
}

.card-icon {
  margin: 1rem 0;
  color: var(--color-primary);
}
.card-icon:hover {
  color: #0c0d0d;
}

.feature-box-p {
  padding: 5%;
}

/* ------------- LOGIN PAGE -------------- */

.height {
  /*reusable class. be careful changing it */
  min-height: 90vh;
  max-height: auto;
}

.login-inner {
  width: 35%;
  min-width: 300px;
  height: min-content;
  background-color: white;
  color: var(--color-font);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

/* --------------- DASHBOARD PAGE ------------ */

.img-container {
  width: 8rem;
  height: 8rem;
  margin: 3rem 0 1rem;
}
.date,
.hi-user {
  margin-top: 6.25rem;
}

.date {
  margin-right: 14.688rem;
}

#sidebarMenu {
  background-color: #d9dcd6;
}

#sidebarMenu li {
  line-height: 2rem;
}

#sidebarMenu i {
  margin-right: 2rem;
  width: 16px;
  height: 16px;
  color: #5d5d5d;
}

#sidebarMenu .nav-link {
  font-weight: 500;
  color: #333;
  vertical-align: text-bottom;
}

.dashboard-main {
  background-color: white;
  right: 0;
}
.left {
  width: 25%;
}

.right {
  width: 73%;
  height: auto;
}

.stocks-box {
  text-align: center;
}

.box-item {
  background-color: #fcfcfc;
  box-shadow: var(--box-shadow-small);
  border-radius: 3px;
  margin-right: 1rem;
}

/* sidebar */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: #fff;
}
.navigation {
  position: fixed;
  top: 60px;
  bottom: 20px;
  width: 70px;
  border-radius: 10px;
  box-sizing: initial;
  border-left: 5px solid #4d5bf9;
  background: #4d5bf9;
  transition: width 0.5s;
  overflow-x: hidden;
}
.navigation.active {
  width: 300px;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation ul li.active {
  background: #fff;
}
.navigation ul li b:nth-child(1) {
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  background: #fff;
  display: none;
}
.navigation ul li b:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: #4d5bf9;
}
.navigation ul li b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 100%;
  background: #fff;
  display: none;
}
.navigation ul li b:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  background: #4d5bf9;
}
.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
  display: block;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}
.navigation ul li.active a {
  color: #333;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.5em;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
}
.toggle {
  position: fixed;
  top: 20px;
  left: 30px;
  width: 50px;
  height: 50px;
  background: #4d5bf9;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle.active {
  background: #ff4d89;
}
.toggle ion-icon {
  position: absolute;
  color: #fff;
  font-size: 34px;
  display: none;
}
.toggle ion-icon.open,
.toggle.active ion-icon.close {
  display: block;
}
.toggle ion-icon.close,
.toggle.active ion-icon.open {
  display: none;
}

/* --------------- PRODUCTS PAGE ---------------*/

.active {
  z-index: 100;
}

.hidden {
  display: none;
}
/* --------------- PRODUCTS PAGE ---------------*/

.reg-form {
  width: 60%;
  border-radius: 10px;
}
/* --------------- FOOTER --------------------- */
.copyrights {
  text-align: center;
  color: #d9dcd6;
  padding-top: 1rem;
  margin-top: 7rem;
}

.footer-icon {
  margin: 0 1rem;
}
